{% extends 'base.html' %}

{% block content %}

{% load static %}
{% load i18n %}

<hr>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div class="card shadow-sm mb-4">
                <div class="card-body">    
                    <center><h1>{% block title %}CARGAR ESPECIALIDAD{% endblock %}</h1></center>
                    <div class="container mt-4">
                            <form method="post">
                            {% csrf_token %}

                            <div class="mb-3">
                                <label for="especialidad" class="form-label">Especialidad:</label>
                                <input type="text" name="nombre" maxlength="100" required id="especialidad" class="form-control">
                            </div>

                            <div class="mb-3">
                                <label for="descripcion" class="form-label">Descripción:</label>
                                <input type="text" name="descripcion" maxlength="200" required id="descripcion" class="form-control">
                            </div>

                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock  %}

