{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div class="card shadow-sm mb-4">
                <div class="card-body">  
                    <center>
                        <h1>AGENDAS</h1>
                    </center>
                    {% if agendas %}
                        <ul class="list-group">
                            {% for agenda in agendas %}
                                <li class="list-group-item">
                                    <a href="{% url 'ver_agenda' agenda.id %}" class="text-decoration-none">
                                        Agenda de {{ agenda.profesional }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="alert alert-warning mt-3" role="alert">
                            No hay agendas registradas.
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}